/* custom.css */


/*  index.html/galery .html  */

body {
color: #000000;
}

.container {
margin:  5em 8em 5em 8em;
background-color: #fff;
padding: 0;
}

.containerHeader {
background-color: @adriana-gray;
}

header {
padding: 1em 3em 1em 3em;
text-align: center;
font-family: 'Great Vibes', cursive;
font-size: 150%;
color: #fff;
}

nav { 
margin: 1em;
padding: 0;
}

.nav > li > a {
position: relative;
display: block;
padding: 20px 20px;
color: @adriana-gray;
}

.containerMain {
padding: 2em;
}

/* index: heading */
h1 {
text-align: left;
}

/* gallery: heading  */
#header1 {
text-align: center;
}

#thumbnails {
margin-top: 2em;
}

#thumbnails a {
text-decoration: none;
 }

/*  footer  */
footer {
padding: 1.5em;
background-color: @adriana-gray;
color: #fff;
text-align: center;
}


/* typeA.html  */
.containerTab {
background-color: black;
padding: 1em 3em 6em 5em;
margin-bottom: 0;
}

.containerTab h2 {
text-align: center;
margin-top: 1.5em;
margin-bottom:  1.5em;
color: #888;
}

/* active tab  */
.containerTab .nav-tabs>li.active>a {
background-color: @adriana-cream;
color: black;
border: 1px solid @adriana-cream;
}

/* Tab content padding */
.tab-content {
background-color: @adriana-cream;
padding: 0.8em;
}

.containerTab .nav-tabs>li>a {
background-color: #f5f5f5;
}

/*   contact.html  */
#top {
background-color: #414141;
color: #888;
height: 475px;
padding: 55px 0 0 0;
}

#bottom {
height: 275px;
text-align: center;
font-size: 140%;
padding: 95px 0 70px 0;
}

/*  add space between form fieds  */
.form-control {
margin: 5px 0 0 0;
}

#sendButton {
margin: 5px 0 0 0;
}

/* styling glyphicon */
#bottom .glyphicon {
font-size: 200%;
}

a {
color: @adriana-gray;
}
