/* custom.css */


.bodyOrange {
background-color: orange;
}

.bodyOlive {
background-color: olive;	
}

.container {
margin-top:  5em;
margin-bottom: 5em;
margin-left: auto;
margin-right: auto;
background-color: #fff;
padding: 0; 
}

@media (max-width: 767px) {
    .container {
    min-width: 300px; 
    margin: 2em;
    } 
}

.containerHeader {
background-color: @adriana-gray;
}

.containerBlack {
background-color: black;
padding: 0 3em 1em 5em;
margin: 0;
color: #fff;
}

.containerMain {
padding: 2em;
}

header {
padding: 1em 3em 1em 3em;
text-align: center;
font-family: 'Great Vibes', cursive;
font-size: 150%;
color: #fff;
}

nav { 
margin: 1em;
padding: 0;
}

.nav > li > a {
position: relative;
display: block;
padding: 20px 20px;
color: @adriana-gray;
}

#thumbnails {
margin-top: 10px;	
}

#thumbnails a {
text-decoration: none;
}

/* index: heading */
h1 {
text-align: left;
}

h2 {
text-align: center;
}




/* gallery:  */

.thumb {
max-width: 800px;
margin-top: 50px;
margin-right: auto;
margin-left: auto;
margin-bottom: 370px;
}

.thumb li {
opacity: 0.3;
}


/* Bloodtypes:  */

.containerTab {
background-color: black;
padding: 1em 3em 6em 5em;
margin-bottom: 0;
}

.containerTab h2 {
text-align: center;
margin-top: 2em;
margin-bottom: 2em;
color: #fff;
}



/*   contact.html  */
body {
background-color: black;
}

#top {
height: 475px;
padding: 55px 0 0 0;
}

/*  add space between form fieds  */
.form-control {
margin: 5px 0 0 0;
}

#sendButton {
margin: 5px 0 0 0;
}

/* styling glyphicon */
#bottom .glyphicon {
font-size: 200%;
}

a {
color: @adriana-gray;
}